<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a blog post</title>
</head>
<body>

<nav th:replace="partials/partials.html :: nav"></nav>

<hs>Edit a Blog Entry</hs>

<main class="container">
    <form th:action="@{/posts/{id}/edit (id = ${postToEdit.id})}" th:method="POST" th:object="${postToEdit}">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input th:field="*{title}" class="form-control" type="text" id="title" name="title" placeholder="Enter title">
        </div>

        <div class="mb-3">
        <label class="form-label" for="body">Content</label>
        <textarea th:field="*{body}" type="text" class="form-control" name="body" id="body" placeholder="Enter Content"></textarea>
        </div>

        <div class="d-grid">
        <button>Edit post</button>
        </div>
    </form>
</main>
<footer th:replace="partials/partials.html :: footer"></footer>

</body>
</html>